/*
 * Based on "CSS3 Hello Bar" by Martin Ivanov (http://wemakesites.net/)
 **/
 
:root .placeslist,
.placebar-button,
.placebar-button span
{
    display: block;
}
 
.placeslist,
.placeslist *
{
    margin: 0;
    padding: 0;
}
 
.placeslist > div,
.placebar-button span
{
    line-height: 48px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74902);
    background:#fafafa;
    transition: margin 300ms ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
 
.placeslist,
.placeslist input
{
    display: none;
}
 
.placeslist
{
    z-index: 1;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    color: #000;
    cursor: default;
    max-height: 90%;
}

 .placeslist > div
{
    margin-top: -150%;
    padding: 0 1.5em;
    font-size: 12px;
}
 
.placeslist > div > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 2.5em;
    padding: 1em 0;
}
 
.placebar-button,
#place
{
    float: right;
    margin: 2.7rem 1em 0 0;
}
 
.placebar-button span
{
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    color: #E8ABAB;
}
 
.placeslist input ~ .placebar-button span:first-child
{
    box-shadow: none;
    background: none;
    color: #C8C8C8;
}
 
.placeslist input:not(:checked) ~ .placebar-button span:first-child
{
    opacity: 0;
}
 
.placeslist input:checked ~ .placebar-button span:first-child
{
    opacity: 1;
    transition: opacity 300ms 300ms ease-in-out;
}
 
.placeslist input:not(:checked) ~ .placebar-button span:last-child
{
    margin-top: -51px;
}
 
.placeslist input:checked ~ .placebar-button span:last-child
{
    margin-top: -100px;
}
 
.placeslist input:checked ~  div
{
    margin-top: 2.7rem;
}

.placeslist li {
    min-height: 48px;
}

@media only screen and (min-width: 40.063em) {
    #map-canvas {
        width: 70vw;
        left: 30vw;
    }

    .placeslist.fixed {
        z-index: 0;
        width: 30vw;
    }

    .placebar-button, #place{
        display: none;
    }

    .placeslist > div {
        box-shadow: none;
        margin-top: 45px;
        height: 100vh;
    }

    .placeslist > div a {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 1.5em;
    }
}