body {
	background-color: #eeeade;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMzAwIDMwMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2lkdGg9JzEwMCcgaGVpZ2h0PScxMDAnIHZpZXdCb3g9JzAgMCAyMDAgMjAwJyA+CgkJPHJlY3Qgd2lkdGg9JzExMCUnIGhlaWdodD0nMTEwJScgZmlsbD0nI2VlZWFkZScvPgoJCQk8cGF0aCBkPSdNMSwxaDIwMHYyMDBoLTIwMHYtMjAwJyBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZS13aWR0aD0nMS44JyBzdHJva2UtZGFzaGFycmF5PScwLDEsMScgc3Ryb2tlPScjZjVmM2VjJy8+CgkJPC9wYXR0ZXJuPiAKCQk8ZmlsdGVyIGlkPSdmdXp6JyB4PScwJyB5PScwJz4KCQkJPGZlVHVyYnVsZW5jZSB0eXBlPSd0dXJidWxlbmNlJyByZXN1bHQ9J3QnIGJhc2VGcmVxdWVuY3k9Jy4yIC4zJyBudW1PY3RhdmVzPSc1JyBzdGl0Y2hUaWxlcz0nc3RpdGNoJy8+CgkJCTxmZUNvbG9yTWF0cml4IHR5cGU9J3NhdHVyYXRlJyBpbj0ndCcgdmFsdWVzPScwJy8+CgkJPC9maWx0ZXI+Cgk8L2RlZnM+Cgk8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2JsdWVzdHJpcGUpJy8+CjxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbHRlcj0ndXJsKCNmdXp6KScgb3BhY2l0eT0nMCcvPgo8L3N2Zz4K');
}
#topbar {
	background-color: #E5E3DF;
}

#search-container {
	margin: 0.25em;
	padding: 0 0.25em;
	border: none;
}

#search-container div * {
	margin-bottom: 0.25em;
}

#search-input {
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
	padding-left: 2.3125rem;
}

#details-button {
	background-color: rgba(0, 0, 0, 0);
	padding: 0.5rem;
	width: 2.3125rem;
	height: 2.3125rem;
	position: absolute;
	z-index: 2;
	left: 2;
	color: #C8C8C8;
}

#details-button:focus,
#details-button:hover  {
	color: #000;	
	outline-color: rgba(0, 0, 0, 0);
}

#map-canvas { 
	height: 100%;
	margin: 0; 
	padding: 0;
}

div#map-canvas.center {
  width: 100vw;
  left: 0;
}

/*
nav {
	margin-top: 44px;
	background-color: #868173;
}*/

.google_map {
	display: block;
	background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=27.4950000,-109.969000&zoom=15&size=640x640");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	line-height: 0;
	margin: 0; 
	padding: 0;
}

.google_map img {
	opacity: 0;
	height: 100%;
	max-width: 100%;
	margin: 0; 
	padding: 0;
}

@media only screen and (min--moz-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2/1), 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2){

	.google_map {
		background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=27.4950000,-109.969000&zoom=15&size=640x640&scale=2");	
		background-size: 640px 640px
	}
	
}

img {
	max-width: none;
}